<section class="container-fluid my-5" id="container-fluid">
    <div class="container-fluid">
        <div class="row justify-content-center">
        <% for(let i = 0; i < results.length; i++) { %>
<% if(!results[i].topic || !results[i].email || !results[i].text) continue %>
            <div class="col-lg-3 my-3">
                <div class="card">
                    <div class="card-body">
                <h5 class="card-title"><%= results[i].topic %></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%= results[i].email %></h6>
                <p class="card-text"><%= results[i].text %></p>
                        <a href="/delete/<%= results[i].id %>" class="card-link">Delete</a>
                        <a href="/forum/<%= results[i].id %>" class="card-link">Answer</a>
                        <a href="/forum/show/<%= results[i].id %>" class="card-link">Show Answer</a>
                    </div>
                </div>
            </div>
            <%    } %>
        </div>
    </div>
</section>